<h3>{{company}} rekrytoi!</h3>
<p>Onko {{AK2}} {{AL2}} sinulle tuttua? {{AM2}} {{AN2}} {{AO2}}?</p>
<p><strong>{{A1}} {{B1}} {{C1}}</strong> voi olla juuri sinun hommasi!</p>
<p>{{company}} on {{AP2}} {{AQ2}} {{AR2}}, joka {{AS2}} {{AT2}} {{AU2}}. Meillä on takana vasta {{AV2}}, mutta tavoitteenamme on olla alamme {{AW2}}. Toimintamme ydintä on {{AH}} {{AX2}} ja tähtäämme {{AY2}} {{AZ2}}. Etsimämme työntekijä on {{D1}} {{BA2}}, joka ei välttele {{BB2}}. Tässä tehtävässä sinulla on mahdollisuus {{AY2}} {{BC2}}.</p>
<p><strong>Menestyt tehtävässä kun...</strong></p>
<ul>
	<li>Sinulla on {{AH}} ymmärrys {{BD2}} ja {{BD2}}.</li>
	<li>Kommunikoit {{BE2}} {{BF2}} rajapinnoilla.</li>
	<li>Et pelkää {{BG2}}.</li>
	<li>Sinulla on {{N1}} {{BH2}}.</li>
	<li>Olet {{N1}} ja {{N1}}.</li>
</ul>
<p><strong>Me odotamme sinulta...</strong></p>
<ul>
	<li>{{BI2}} ja {{BJ2}}.</li>
	<li>Soveltuvaa koulutusta tai työkokemusta esim. {{Y1}}.</li>
</ul>
<p>Työtä tehdään {{BK2}}, mutta muistathan mainita muista taidoistasi hakemuksessasi.</p>
<p>Tarjoamme sinulle mm. {{BL2}} {{BM2}}, {{BN2}} kollegat ja työn, jossa voit kehittää {{BO2}}. {{BP2}} Toimipaikkasi on pääkonttorillamme {{BQ2}} keskustassa.</p>
<p>{{BR2}}</p>
